.selectplaces-content{
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.select_bch{
    height:50px;
    width: 100px;
}
.select-discribe{
    background-color: aliceblue;
    width:90%;
    height:150px;
    color:black;
    padding:5% 2%;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.select-button{
    margin-top: 35%;
    color:white;
    padding:3% 2%;
    font-weight: bold;
    background-color:  blue;
    border:1px solid  blue;
    border-radius: 30px;
    width:200px;
    cursor: pointer;
    
}