.add-place-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
}

.add-place-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="file"] {
    margin-top: 5px;
}

.submit-button-place {
    background-color: #8679ec;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.submit-button-place:hover {
    background-color: #bdb5f6;
}
