.package-details-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.package-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.package-info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.package-info p {
    font-size: 16px;
    color: #555;
    margin: 8px 0;
}

.places-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.place-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 48%; 
    height: 350px;
    transition: transform 0.2s;
    position: relative; 
}

.place-number {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6600; 
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}

.place-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.place-card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.place-card p {
    font-size: 14px;
    color: #555;
    padding: 0 10px;
    flex-grow: 1;
    text-align: center;
}

.place-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .place-card {
        width: 100%; 
    }
}

.next-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.next-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}

.passenger-input-container {
    padding-top: 10px;
    font-weight: bold;
}
