
.season-container {
 
  min-height: 100vh;
  text-align: center;
  padding: 4rem 2rem;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}


.season-container h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.season-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.season-item {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  width: 90%;
  max-width: 600px;
  color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.season-items-wrapper {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 2rem; 
  flex-wrap: wrap; 
  padding-top: 100px;
}


.season-item:hover {
  transform: scale(1.03);
}

.season-button {
  background-color: #fce8f1;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.7rem 2rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.season-button:hover {
  background-color: #eacde1;
}

.season-item p {
  background-color: #e1f7ff;
  border-left: 4px solid #9289fb;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #084c61;
}
